body {
    min-height: 100vh;
}

.card {
    border-radius: 16px;
    width: 350px;
}

@media screen and (min-width :768px) {
    .card {
        width: 550px;
    }    
}  
@media screen and (min-width: 1024px) {
    .card {
        width: 700px;
    }
}